
.active {
    color: #ee6e73;
    font-weight: 300;
}

body {
    background-color: #dddddd;
    color: #ffffff;
}

.tone {
    background-image: url("../images/4bccdad311b80b99bf.jpg");
    background-size: 100%;
    background-color: #0000ff;
    opacity: 0.75;
    height: 712px;
    margin: 64px 0px;
}

h3, #scrapeNow {
    margin-left: 32px;
}

a {
    color: #c00b75;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#threads {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 488px;
    margin: 96px 0px;
    padding: 32px;
}

#notes {
    float: right;
    width: 30%;
    color: #000000;
    margin-top: 96px;
    padding: 0px 32px 0px 0px;
}

h2 {
    font-size: 16px;
    color: #ffffff;
    height: 96px;
}

input, textarea {
    display: block;
    width: 100%;
    background-color: #c00b75;
}

input {
    height: 32px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

#savenote {
    margin-top: 32px;
}

#titleinput {
    background-color: #c00b75;
}

